@*
    Index.cshtml, of the Home Controller

    Hot Reload: https://devblogs.microsoft.com/dotnet/introducing-net-hot-reload/
*@
@{
}
@model ISessionStore

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="~/js/sessionScript.js"></script>
</head>

<body>
    <h2> Index View</h2>
    <a href="~/home/about">About</a>
    <a asp-action="MakePullOrder">New Pull Order</a>

</body>

</html>